.header-sect-bg {
    width: 100%;
    max-width: 1440px;

    background: linear-gradient(180.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%) 0 0/100% no-repeat, url(./image/Rectangle.png) 0 0/cover no-repeat;

    /* , linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); */
    /* background-image: url(./image/Rectangle.png), red;
    background-repeat: no-repeat;
    background-size: cover; */

}


.header {
    width: 100%;
    padding: 24px 0 24px 0;
    height: 66px;

}

.header-wrap {

    gap: 30px;
}

.header-cont {
    gap: 65px;
}

.menu-cont {
    display: flex;
    gap: 32px;
}

.menu {

    color: var(--text-color-grey1);
    font-family: var(--text-normal-ff);
    font-size: var(--text-normal1-fs);
    font-weight: 400;
    line-height: 150%;

}

.menu-bg {
    color: var(--text-color-black2);
    font-weight: 700;
}


.button-header {


    width: 126px;
    background-color: var(--bg-orange);
    color: var(--bg-white);
    font-family: var(--text-normal-ff);
    font-size: var(--text-normal1-fs);
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    padding: 16px 32px 16px 32px;
    border-radius: 80px;
    border: none;
}

/* .img-logo {
    width: 66px;

}  */
.line-menu {
    display: none;
}

.sect-1 {
    height: 635px;
    padding-top: 90px;
    padding-bottom: 0;
}

.text-parag {
    color: var(--bg-decor);
    font-family: var(--text-normal-ff);
    font-size: var(--text-normal2-fs);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.8;
}

.mb-text-parag-sect-1 {
    margin-bottom: 12px;

}

.top-text {
    color: var(--text-color-black1);
    font-family: var(--text-middle-ff);
    font-size: var(--text-top-fs);
    font-weight: 600;
    line-height: 94px;
    letter-spacing: -3%;
    text-align: center;
}

.top-text-mb {
    margin-bottom: 31px;
    max-width: 700px;
}

.button-sect-1 {

    width: 100%;
    gap: 16px;
}

.button-sect {
    width: 242px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;

    background: linear-gradient(126.62deg, rgb(242, 100, 64) -23.589%, rgb(239, 125, 96) 123.532%);

    text-align: left;

}

.text-buttom {
    color: var(--bg-white);
    font-family: var(--text-normal-ff);
    font-size: var(--text-normal2-fs);
    font-weight: 600;
    line-height: 22px;
}


.sect-2 {
    overflow-y: hidden;
    padding-top: 113px;
    padding-bottom: 114px;
    background: var(--bg-white-middle);
    position: relative;
}

.group-elipse {
    width: 69vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width-middle2-content {}

.sect-top-text {
    color: var(--text-color-black1);
    font-family: var(--text-middle-ff);
    font-size: var(--text-big3-fs);
    font-weight: 600;
    line-height: 90px;

    text-align: left;

}

.sect2-top-text-mb {
    margin-bottom: 64px;
}

.sect2-bottom-wrap {

    display: flex;
    gap: 30px;
}

.sect2-bottom {
    width: 28%;
    max-width: 364px;
}

.icon-wrap {
    /* height: 40px; */

}

.img-sect2 {
    height: 48px;
}

.img-sect2-icon2 {
    height: 46px;

}

.img-sect2-icon3 {

    height: 48px;
}

.sect2-mb {
    margin-bottom: 12px;
}

.sect-2-text {
    color: var(--text-color-black1);
    font-family: var(--text-middle-ff);
    font-size: var(--text-middle-fs);
    font-weight: 600;
    line-height: 34px;

    text-align: left;
}

.sect2-text-mb {
    margin-bottom: 16px;
}

.sect-2-parag {
    color: var(--text-color-grey1);
    font-family: var(--text-normal-ff);
    font-size: var(--text-normal2-fs);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    text-align: left;
}

.sect2-parag-mb {
    margin-bottom: 24px;
}

.sect2-bottom-text-icon {
    display: flex;
    gap: 11px;
}

.sect2-botom-parag-text {
    color: var(--text-color-orange1);
    font-family: var(--text-normal-ff);
    font-size: var(--text-small2-fs);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 1%;
    text-align: left;
}

.sect2-icon {
    width: 24px;
    height: 24px;
}






@media screen and (max-width: 800px) {
    .sect-2 {
        padding-top: 89px;
        padding-bottom: 63px;
    }

    .sect2-bottom-wrap {

        display: flex;
        gap: 68px;
        flex-direction: column;

    }

    .sect-top-text {
        font-size: var(--text-big1-fs);
    }

    .sect2-top-text-mb {
        margin-bottom: 53px;
    }

    .sect2-bottom {
        width: 100%;
    }

    .sect-2-parag {
        font-size: var(--text-normal1-fs);
    }





}


@media screen and (max-width: 650px) {

    .menu-cont {
        display: none;
    }

    .button-header {
        display: none;
    }

    .line-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .line-nav {
        width: 20px;

        border: 1.5px solid rgb(0, 0, 0);
        border-radius: 2px;
    }

    .header {
        padding: 12px 0 12px 0;
        height: 57px;
    }

    .sect-1 {
        padding-top: 77px;
    }

    .img-logo {
        width: 120px;
    }

    .text-parag {

        font-size: var(--text-small2-fs);
    }

    .mb-text-parag-sect-1 {
        margin-bottom: 8px;

        text-align: center;
    }

    .top-text {
        color: var(--text-color-black1);
        font-family: var(--text-middle-ff);
        font-size: var(--text-big2-fs);
        font-weight: 600;
        line-height: 52px;
        letter-spacing: -3%;
        text-align: center;
    }


    .top-text-mb {
        margin-bottom: 24px;

    }



}